---
name: Deployment
on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      baseSha:
        type: string
        required: false
      deployAll:
        type: boolean
        default: false

jobs:
  set-state:
    runs-on: ubuntu-latest
    outputs:
      path_prefix: ${{ steps.get_path_prefix.outputs.path_prefix }}
      branch_short_ref: ${{ steps.get_branch.outputs.branch }}
      deploy_stage: ${{ contains(inputs.env, 'stage') }}
      deploy_prod: ${{ contains(inputs.env, 'prod') }}
      base_Sha: ${{ inputs.baseSha }}
      deploy_All: ${{ inputs.deployAll }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
  
      - name: Checkout Scripts Repo
        uses: actions/checkout@v4
        with:
          repository: AdobeDocs/adp-devsite-scripts
          path: scripts
          ref: main

      - name: Get path prefix
        uses: actions/github-script@v7
        id: get_path_prefix
        with:
          script: |
            const script = require('./scripts/get-path-prefix.js');
            script({ core, isStage:"${{ contains(inputs.env, 'stage') }}", isProd:"${{ contains(inputs.env, 'prod') }}" });
          result-encoding: string

      - name: Get branch name
        shell: bash
        run: echo "branch=${GITHUB_REF#refs/heads/}" >> "$GITHUB_OUTPUT"
        id: get_branch

  echo-state:
    needs: [set-state]
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploy to stage - ${{ needs.set-state.outputs.deploy_stage }}"
      - run: echo "Deploy to prod - ${{ needs.set-state.outputs.deploy_prod }}"
      - run: echo "Path prefix - ${{ needs.set-state.outputs.path_prefix }}"
      - run: echo "Repository org - ${{ github.event.repository.owner.login }}"
      - run: echo "Repository name - ${{ github.event.repository.name }}"
      - run: echo "Repository branch - ${{ needs.set-state.outputs.branch_short_ref }}"
      - run: echo "Base Sha - ${{ needs.set-state.outputs.base_Sha }}"
      - run: echo "Deploy All - ${{ needs.set-state.outputs.deploy_All }}"

  deploy:
    defaults:
      run:
        shell: bash
    needs: [set-state]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout Scripts Repo
        uses: actions/checkout@v4
        with:
          repository: AdobeDocs/adp-devsite-scripts
          path: scripts
          ref: main

      - name: Get last successful workflow_dispatch run
        id: last_successful_workflow_dispatch_run
        uses: actions/github-script@v7
        with:
          script: |
            const { owner, repo } = context.repo;
            const branch = '${{ needs.set-state.outputs.branch_short_ref }}';
            const workflowId = '${{ needs.set-state.outputs.deploy_prod == 'true' && 'deploy.yml' || 'stage.yml' }}';

            const workflowRuns = await github.rest.actions.listWorkflowRuns({
              owner,
              repo,
              workflow_id: workflowId,
              branch: branch,
              event: 'workflow_dispatch',
              status: 'success',
              per_page: 1, // Only need the latest one
            });

            if (workflowRuns.data.workflow_runs.length > 0) {
              const lastSuccessfulRun = workflowRuns.data.workflow_runs[0];
              console.log(`Last successful workflow_dispatch run on branch '${branch}':`);
              console.log(`ID: ${lastSuccessfulRun.id}`);
              console.log(`Commit SHA: ${lastSuccessfulRun.head_sha}`);
              console.log(`Run URL: ${lastSuccessfulRun.html_url}`);
              core.setOutput('base', lastSuccessfulRun.head_sha);
            } else {
              console.log(`No successful workflow_dispatch runs found on branch '${branch}' for workflow '${workflowId}'.`);
              core.setOutput('base', '');
            }
      # - uses: nrwl/nx-set-shas@v3
      #   id: last_successful_commit_push
      #   with:
      #     main-branch-name: ${{ needs.set-state.outputs.branch_short_ref }}
      #     last-successful-event: 'workflow_dispatch' # This is the event that triggered the last successful workflow run.
      #     workflow-id: ${{ needs.set-state.outputs.deploy_prod == 'true' && 'deploy.yml' || 'stage.yml' }}

      - name: Get changed files in the src/pages folder
        if: needs.set-state.outputs.deploy_All == 'false'
        id: changed-files-specific
        uses: tj-actions/changed-files@v46.0.5
        with:
          json: true
          escape_json: false
          files: |
            src/pages/**
          base_sha: ${{ needs.set-state.outputs.base_Sha || steps.last_successful_workflow_dispatch_run.outputs.base }}

      - name: Get all files from src/pages folder
        if: needs.set-state.outputs.deploy_All == 'true'
        id: all-files
        uses: actions/github-script@v7
        with:
          script: |
            const patterns = ['src/pages/**/*.*'];
            const globberSrcFiles = await glob.create(patterns[0]);
            const srcFiles = await globberSrcFiles.glob();

            const srcFilesFixedPaths = [];
            srcFiles.forEach((path) => {
              let pathSplitter = path.split(`${{ github.event.repository.name }}/src/pages`);
              if(pathSplitter.length > 1){
                  srcFilesFixedPaths.push(`src/pages${pathSplitter[1]}`)
              }
            });

            const serializedAllFiles = JSON.stringify(srcFilesFixedPaths);
            core.setOutput('all_files', serializedAllFiles);

      - name: Deploy only changed files to stage
        if: needs.set-state.outputs.deploy_stage == 'true' && steps.changed-files-specific.outputs.any_modified == 'true' && needs.set-state.outputs.deploy_All == 'false'
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./scripts/deploy.js');

            await script({
              core,
              changes: ${{ steps.changed-files-specific.outputs.all_changed_files }},
              deletions: ${{ steps.changed-files-specific.outputs.deleted_files }},
              operation: "preview",
              siteEnv: "stage",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });

      - name: Force deploy all files to stage
        if: needs.set-state.outputs.deploy_stage == 'true' && needs.set-state.outputs.deploy_All == 'true'
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./scripts/deploy.js');

            await script({
              core,
              changes: ${{ steps.all-files.outputs.all_files }},
              deletions: [],
              operation: "preview",
              siteEnv: "stage",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });

      - name: Sleep for 30 seconds before cleaning stage cache
        if: needs.set-state.outputs.deploy_stage == 'true'
        run: sleep 30s
        shell: bash

      - name: Clean cache on only changed files on stage
        if: needs.set-state.outputs.deploy_stage == 'true' && steps.changed-files-specific.outputs.any_modified == 'true' && needs.set-state.outputs.deploy_All == 'false'
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./scripts/deploy.js');

            await script({
              core,
              changes: ${{ steps.changed-files-specific.outputs.all_changed_files }},
              deletions: ${{ steps.changed-files-specific.outputs.deleted_files }},
              operation: "cache",
              siteEnv: "stage",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });

      - name: Clean cache on all files on stage
        if: needs.set-state.outputs.deploy_stage == 'true' && needs.set-state.outputs.deploy_All == 'true'
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./scripts/deploy.js');

            await script({
              core,
              changes: ${{ steps.all-files.outputs.all_files }},
              deletions: [],
              operation: "cache",
              siteEnv: "stage",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });

      - name: Deploy only changed files to prod (Step 1 of 2)
        if: needs.set-state.outputs.deploy_prod == 'true' && steps.changed-files-specific.outputs.any_modified == 'true' && needs.set-state.outputs.deploy_All == 'false'
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./scripts/deploy.js');

            await script({
              core,
              changes: ${{ steps.changed-files-specific.outputs.all_changed_files }},
              deletions: ${{ steps.changed-files-specific.outputs.deleted_files }},
              operation: "preview",
              siteEnv: "prod",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });

      - name: Force deploy all files to prod (Step 1 of 2)
        if: needs.set-state.outputs.deploy_prod == 'true' && needs.set-state.outputs.deploy_All == 'true'
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./scripts/deploy.js');

            await script({
              core,
              changes: ${{ steps.all-files.outputs.all_files }},
              deletions: [],
              operation: "preview",
              siteEnv: "prod",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });

      - name: Sleep for 60 seconds before living on prod
        if: needs.set-state.outputs.deploy_prod == 'true'
        run: sleep 60s
        shell: bash

      - name: Deploy only changed files to prod (Step 2 of 2)
        if: needs.set-state.outputs.deploy_prod == 'true' && steps.changed-files-specific.outputs.any_modified == 'true' && needs.set-state.outputs.deploy_All == 'false'
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./scripts/deploy.js');

            await script({
              core,
              changes: ${{ steps.changed-files-specific.outputs.all_changed_files }},
              deletions: ${{ steps.changed-files-specific.outputs.deleted_files }},
              operation: "live",
              siteEnv: "prod",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });

      - name: Force deploy all files to prod (Step 2 of 2)
        if: needs.set-state.outputs.deploy_prod == 'true' && needs.set-state.outputs.deploy_All == 'true'
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./scripts/deploy.js');

            await script({
              core,
              changes: ${{ steps.all-files.outputs.all_files }},
              deletions: [],
              operation: "live",
              siteEnv: "prod",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });

      - name: Sleep for 30 seconds before cleaning prod cache
        if: needs.set-state.outputs.deploy_prod == 'true'
        run: sleep 30s
        shell: bash

      - name: Clean cache on only changed files on prod
        if: needs.set-state.outputs.deploy_prod == 'true' && steps.changed-files-specific.outputs.any_modified == 'true' && needs.set-state.outputs.deploy_All == 'false'
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./scripts/deploy.js');

            await script({
              core,
              changes: ${{ steps.changed-files-specific.outputs.all_changed_files }},
              deletions: ${{ steps.changed-files-specific.outputs.deleted_files }},
              operation: "cache",
              siteEnv: "stage",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });

            await script({
              core,
              changes: ${{ steps.changed-files-specific.outputs.all_changed_files }},
              deletions: ${{ steps.changed-files-specific.outputs.deleted_files }},
              operation: "cache",
              siteEnv: "prod",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });

      - name: Clean cache on all files on prod
        if: needs.set-state.outputs.deploy_prod == 'true' && needs.set-state.outputs.deploy_All == 'true'
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./scripts/deploy.js');

            await script({
              core,
              changes: ${{ steps.all-files.outputs.all_files }},
              deletions: [],
              operation: "cache",
              siteEnv: "stage",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });

            await script({
              core,
              changes: ${{ steps.all-files.outputs.all_files }},
              deletions: [],
              operation: "cache",
              siteEnv: "prod",
              branch: "${{ needs.set-state.outputs.branch_short_ref }}",
              pathPrefix: "${{ needs.set-state.outputs.path_prefix }}"
            });